<section class="main-content">
    <div class="app">
        <header class="sub-menu">
            <div class="title"> <a  routerLink="/dashboard">Quize APP</a> </div>
            <ul class="menu">
                <li routerLink="/exam" routerLinkActive="selected"> All Exam
                    <div class="badge"> 87 </div>
                </li>
                <li routerLink="/question" routerLinkActive="selected"> All Question
                    <div class="badge"> 6 </div>
                </li>
                <li> All Employees
                    <div class="badge"> 2 </div>
                </li>
                <li> Completed Exams
                    <div class="badge"> 79 </div>
                </li>
            </ul>

            <div class="user-options">
                <div class="icon"> <i class="fa fa-search" aria-hidden="true"></i> </div>   
            </div>
        </header>
    </div>
</section>