<section class="main-content">
    <div class="app">
      <header class="sub-menu">
        <div class="title">
          <a routerLink="/dashboard">Quiz APP</a>
        </div>
        
        <ul class="menu">
          <li *ngFor="let item of navItems" 
              [routerLink]="item.path" 
              routerLinkActive="selected">
            {{ item.label }}
            <div class="badge" *ngIf="item.badge">
              {{ item.badge }}
            </div>
          </li>
        </ul>
  
        <div class="user-options">
          <div class="icon">
            <i class="fa fa-search" aria-hidden="true"></i>
          </div>
        </div>
      </header>
    </div>
  </section>